config login 'main'
	option enabled '1'
	option account_id '@@ACCOUNT_ID@@'
	option account_prefix '@@ACCOUNT_PREFIX@@'
	option account '@@USER_ACCOUNT@@'
	option password '@@USER_PASSWORD@@'
	option portal_url 'http://10.8.0.3/a79.htm'
	option login_url 'http://10.8.0.3:801/eportal/portal/login'
	option portal_host '10.8.0.3'
	option probe_urls 'http://wifi.vivo.com.cn/generate_204 http://connectivitycheck.platform.hicloud.com/generate_204 http://connect.rom.miui.com/generate_204 http://edge.microsoft.com/captiveportal/generate_204 http://www.gstatic.com/generate_204 http://cp.cloudflare.com/generate_204'
	option check_interval '5'
	option fail_threshold '2'
	option login_cooldown '10'
	option post_login_wait '20'
	option wan_noip_recover '60'
	option wan_renew_after '1'
	option wan_renew_cooldown '120'
	option http_timeout '5'
	option wan_logical 'wan'
